{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<div class="container" style="height:100vh">
  <div class="row justify-content-center h-100">
      <div class="col align-self-center text-center card text-white bg-jellyho my-3" style="max-width: 25rem;">
        <div class="card-header"><h1 style="font-family: 'Staatliches', cursive;">SignUp</h1></div>
        <div class="card-body">
        <h3 class="card-title">Sing Up</h3>


        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>



        </div>
    </div>
  </div>
</div>



{% endblock %}
