{% extends 'community/base.html' %}

{% block main_area %}
        <h5>　</h5>
        {% if user.is_authenticated %}
            <a class="btn btn-info btn-sm float-right" href="/community/create_post" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;글쓰기</a>
        {% endif %}

                <h1>커뮤니티</h1>
                <table class="table table-hover" style="border:2px solid #000000;">
                    <thead>
                        <tr>
                            <th class="text-center">카테고리</th>
                            <th class="text-center">글 제목</th>
                            <th class="text-center">작성자</th>
                            <th class="text-center">작성일자</th>
                        </tr>
                    </thead>
                    {% if post_list.exists %}
                        {% for p in post_list %}
                      <tbody>
                      <tr>
                            <td class="text-center" style="width: 20%" class="text-center">{{ p.category }}</td>
                         <td class="text-left" style="width: 55%"><a href="{{ p.get_absolute_url }}" style="color: black;">{{ p.title | truncatechars:20}}</a></td>
                            <td class="text-center" style="width: 15%">{{ p.author }}</td>
                            <td class="text-center" style="width: 10%">{{ p.created_at.year }}.{{ p.created_at.month }}.{{ p.created_at.day }}</td>
                      </tr>
                      </tbody>
                       {% endfor %}
                    {% endif %}
                </table>


                <!-- Pagination -->
                <div class="text-center">
                  <ul class="pagination justify-content-center mb-4">

                      {% for page in page_obj.paginator.page_range %}
                          {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                              <span class="{% if page == page_obj.number %}current{% endif %}">
                              <a class=page-link href="?page={{ page }}">{{ page }}</a>
                              </span>
                          {% endif %}

                      {% endfor %}

                  </ul>
                </div>

                <!-- Search Widget -->
                <div class="card my-5">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search-input">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" onclick="searchPost();">검색</button>
                        </span>
                    </div>
                </div>

    <script>
        function searchPost(){
            let searchValue = document.getElementById('search-input').value.trim();
            if(searchValue.length > 1){
                location.href="/community/search/" + searchValue + "/";
            }
            else{
                alert('두글자 이상 입력해주세요.')
            }
        };

        document.getElementById('search-input').addEventListener('keyup', function(event){
            if(event.key === 'Enter'){
                searchPost();
            }
        });
    </script>
{% endblock %}